form{
    width: 70%;
    height: fit-content;
    margin:  auto;
    margin-top: 3rem;
    
}
#cuerp{
    background-color: #1f52c5;
    padding-bottom: 3rem;
}

fieldset{
    padding: 0rem 10%;
    
    align-items: center;
    color: black;
    border-color: #FFF;
}
fieldset>div, fieldset>p{
    margin-top: 3rem ;
}
input, textarea{
    background-color: #24303c;
    outline-width: 0;
    inline-size: none;
    border: none;
}
form input{
    height: 2rem;
    color: white;
}
input:focus{
    border: 3px solid #FFF;
}
[type="reset"]{
    display: block;
}
.flex_form{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.flex_form>div{
    display: inline-block;
}
#descripcion{
    width: 80%;
}
#url{
    display: flex;
    flex-direction: column;
}
[type="url"]{
    display: block;
    width: 80%;
}

.botones{
    padding: 1rem;
    display: inline-block;
    margin: 1rem;
    text-align: center;
}
@media screen and (max-width: 320px) {
    [type="text"], [type="tel"]{
        display: block;
        width: 50%;
    }
}

@media screen and (max-width: 1035px) {
    .flex_form{
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    form *{
        text-align: center;
        
    }
    .flex_form>div:nth-child(2){
        margin-top: 1rem;
    }
    #url{
        align-items: center;
    }
}
