form{
    width: 70%;
    height: fit-content;
    margin: 2rem auto;
}
fieldset{
    padding: 1rem 10%;
}
fieldset>div, fieldset>p{
    margin-top: 1rem ;
}

[type="reset"]{
    display: block;
}
.flex_form{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.flex_form>div{
    display: inline-block;
}
#descripcion{
    width: 80%;
}
#url{
    display: flex;
    flex-direction: column;
}
[type="url"]{
    display: block;
    width: 80%;
}

@media screen and (max-width: 600px) {
    .flex_form{
        flex-direction: column;
        align-items: center;
    }
    form *{
        text-align: center;
        
    }
    .flex_form>div:nth-child(2){
        margin-top: 1rem;
    }
    #url{
        align-items: center;
    }
}