@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
body{
    width: 100vw;
}
header{
    width: 100%;
    height: fit-content;
}
header *{
    margin: auto;
    text-align: center;
}
header > picture {
    width: auto;
    height: auto; /* Cambia 'inherit' a 'auto' para mantener la proporción */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin perder su proporción */
    display: block; /* Necesario para que funcione margin: auto */
    margin: auto; /* Centra la imagen */
}

h1{
    /*display: inline-block;*/
    font-size: 1.75rem;
    width: fit-content;
    height: fit-content;
}
nav, menu{
    width: 100%;
}
menu{
    display: flex;
    
}
menu>li{
    list-style: none;
    display: inline-block;
}
article{
    width: 100%;
}
article *{
    text-align: center;
}
#logoB{
    width: 85px;
    height: auto;
}
#contact{
    width: 100%;
}
.card_cont{
    width: 40%;
    border: 1px solid black;
    display: inline-block;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: ;
}
.flex{
    display: flex;
    justify-content: space-around;
}

#telefono{
    width: 10%;
}
article>h2{
    display: block;
}
/*
#fondoPdf, #objectPdf{
    position: absolute;
    margin: auto;
    
}

#fondoPdf{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    visibility: show;
    top: 0;
    left: 0;
}

#objectPdf{
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 2;
    top: 50px;
    margin: auto;
}
*/
