@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #222831;
}
body{
    width: 100%;
}
main>*:nth-child(2n){
    background-color: #BF9270;
}
main>*:nth-child(2n+1){
    background-color: #E3B7A0;
}
menu{
    background-color: red;
}
header{
    width: 100%;
    height: fit-content;
    background-color: #FFEDDB;
}
header *{
    margin: auto;
    text-align: center;
}
menu a{
    text-decoration: none;
}

header > picture {
    width: auto;
    height: auto; /* Cambia 'inherit' a 'auto' para mantener la proporción */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin perder su proporción */
    display: block; /* Necesario para que funcione margin: auto */
    margin: auto; /* Centra la imagen */
}
main>article, section{
    padding: .3rem 0;
}
h1{
    /*display: inline-block;*/
    font-size: calc(1vw + .9rem);
    width: fit-content;
    height: fit-content;
}
p, a, footer *{
    font-size: calc(1.2vw + .5rem);
}
h2{
    font-size: calc(1vw + .8rem);
}
h3{
    font-size: calc(0.9vw + .7rem);
}
h1,h2,h3{
    display: block;
    text-align: center;
}
nav, menu{
    width: 100%;
}
menu{
    display: flex;
    
}
menu>li{
    list-style: none;
    display: inline-block;
}
article{
    width: 100%;
}
article *{
    text-align: center;
}
#logoB{
    width: 85px;
    height: 85px;
}
#contact{
    display: flex;
    flex-direction: column;
    /*background-color: #fff3df;*/
}
.card_cont{
    width: 40%;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 2rem;
    background-color: #EDCDBB;
    /*border-radius: ;*/
}
.card_cont *{
    display: block;
    text-align: center;

}
.card_cont a{
    margin-top: 1rem;
}
.flex{
    display: flex;
    justify-content: space-around;
}
#contenedorCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.svgs{
    width: 15%;
    height: auto; /* Cambia 'inherit' a 'auto' para mantener la proporción */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin perder su proporción */
    margin: auto;
    
}
article>h2{
    display: block;
}
figcaption>a{
    text-decoration: none;
    color: #000000;
}
footer{
    background-color: gray;
}
footer>*{
    margin: .5rem;
}
/*
    Añadir flex para titulo
*/
/*
    Vista de movil
*/

@media screen and (max-width: 600px) {
    #contenedorCards{
        flex-direction: column;
        align-items: center;
    }
    .flex{
        flex-direction: column;
        align-items: flex-start;
    }
    #contenedorCards article{
        flex: 1;
    }
    .card_cont{
        width: 80%;
    }
}

@media screen and (max-width: 260px){
    header img{
        width: 80%;
    }
}




/*
#fondoPdf, #objectPdf{
    position: absolute;
    margin: auto;
    
}

#fondoPdf{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    visibility: show;
    top: 0;
    left: 0;
}

#objectPdf{
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 2;
    top: 50px;
    margin: auto;
}
*/
