/* Estilos generales para las tarjetas */
.boxesContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .cardBox {
    width: 30%;
    height: 200px;
    perspective: 1000px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  /* Cara frontal de la tarjeta */
  .front {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Cara trasera de la tarjeta */
  .back {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  
  /* Efecto de giro al pasar el cursor */
  .card:hover {
    transform: rotateY(180deg);
  }
  
  /* Estilos para los contenidos dentro de las caras */
  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  